* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header {
    background-color: grey;
    text-align: center;
    padding: 150px 0;
    background-image: url(/img/img-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0 0 20px 0;
    border: 0 solid white;
    box-shadow: 0 0 20px black;
}

.container {
    display: flex;
}

.navbar {
    background-color: white;
    padding: 30px;
    text-align: center;
}

.navbar li {
    margin: 10px 20px;
    border-radius: 5px;
    border: 3px solid rgba(12, 22, 230, 0.33);
    list-style: none;
    border-radius: 10px 0;
    width: 300px;
    padding: 15px 20px;
    background-color: rgba(12, 23, 230, 0.605);
}

.content {
    width: 75%;
    background: rgb(20 14 14 / 7%);
    padding: 30px;
    border-radius: 30px 0 0 0;
}

.footer {
    background-color: rgb(20 14 14 / 14%);
    text-align: center;
    padding: 20px 0 10px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 20px 0 10px;
}