h1 {
    text-shadow: 2px 1px 4px red;
}

p {
    color: green;
    text-align: justify;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    /*font-variant: small-caps;*/
    text-transform: capitalize;
    text-indent: 50px;
    word-spacing: 20px;
    line-height: 50px;
}

a {
    text-decoration: line-through;
    letter-spacing: 20px;
}